* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  color: #24292f;
  background: #ffffff;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 800px;
  margin: 0 auto 30px;
  font-size: 18px;
  color: #57606a;
}

.btn-main {
  display: inline-block;
  padding: 14px 24px;
  background: linear-gradient(rgb(61, 61, 61), black);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto 80px;
  padding: 0 20px;
}

.card {
  border: 1px solid #d0d7de;
  border-radius: 12px;
  padding: 24px;
  background: #f6f8fa;
}

.card h2 {
  margin-top: 0;
}

.subtitle {
  color: #57606a;
  font-size: 14px;
}

.price {
  font-size: 48px;
  margin: 20px 0 5px;
}

.price span {
  font-size: 18px;
}

.per {
  color: #57606a;
  margin-bottom: 20px;
}

ul{
    color: #57606a;
}

.details{
    padding: 16px;
    text-align: left;
}

summary{
    font-weight:700;
}

.btn-light {
  display: block;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background: white;
  border: 1px solid #d0d7de;
  text-decoration: none;
  color: #24292f;
  font-weight: bold;
}

.btn-dark {
  display: block;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background: linear-gradient(rgb(61, 61, 61), black);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.card-blue {
  border: 3px solid #0969da;
  position: relative;
}

.badge {
  position: absolute;
  top: -14px;
  right: 20px;
  background: #0969da;
  color: white;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: bold;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn-outline {
  display: block;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  text-decoration: none;
  color: #24292f;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.addons {
  background: #f6f8fa;
  padding: 60px 20px;
}

.addons h2 {
  text-align: center;
  margin-bottom: 40px;
}

.addons-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.addons-grid img{
    height: 50px;
}

.addon-card {
  background: white;
  border: 1px solid #d0d7de;
  border-radius: 12px;
  padding: 24px;
  font-weight: bold;
}
